appdirs==1.4.3
bcrypt==3.1.7
boto3==1.12.36
django-environ==0.4.5
django-rest-auth==0.9.5
dj-database-url==0.5.0
dj-static==0.0.6
django-storages==1.7.1
Django==2.2.13
django-allauth==0.40.0
django-cors-headers==2.4.0
django-crispy-forms==1.7.2
django-import-export==2.0.2
djangorestframework==3.9.1
gunicorn==19.9.0
olefile==0.46
packaging==18.0
Pillow==7.1.1
psycopg2==2.8.4
psycopg2-binary==2.8.4
python-dotenv==0.10.3
pyparsing==2.3.1
pytz==2018.9
wrapt==1.11
